





/*顶部导航开始*/
	.nav-side{
		height: 44px;
		background:#f3f5f7;
}
	.nav-login{
		color:#fea675a;
	}
	.nav-left li{
		height: 44px;
		line-height: 44px;
		margin-right: 5px;
	}
	.dropdown{
		position: relative;
	}
	.dropdown-toggle{
		display: block;
		height: 44px;
		line-height: 44px;
	}
	.dropdown-layer{
		display: none;
		position: absolute;
		top: 44px;
		left: 0;
		background:#fff;
		border: 1px solid #fff;
		border-top: none;
	}
	.menu-item{
		display: block;
		height: 30px;
		line-height: 30px;
		padding: 0 5px;/*padding内边距-上右下左*/
		white-space: nowrap;/*规定段落中的文本不进行换行*/
	}
	.menu-item:hover{
		background: #f3f5f7;
	}
	/*
	.dropdown:hover .dropdown-toggle{
		background: #fff;
		border-left: 1px solid #f3f5f7;
		border-right: 1px solid #f3f5f7;
	}
	.dropdown:hover .dropdown-arrow{
		transform:rotate(180deg); 
	}
	.dropdown:hover .dropdown-layer{
		display: block;
	}
	*/
	.dropdown-active .dropdown-toggle{
		background: #fff;
		border-left: 1px solid #f3f5f7;
		border-right: 1px solid #f3f5f7;
	}
	.dropdown-active .dropdown-arrow{
		transform:rotate(180deg); 
	}
	.dropdown-active .dropdown-layer{
		display: block;
	}
/*顶部导航结束*/

/*头部开始*/
	.header{
		height: 100px;
		background: yellow;
}
/*头部结束*/

/*焦点开始*/
	.focus{
		height: 500px;
		background: pink;
}		
/*焦点结束*/

/*今日热销开始*/
	.todays{
		height: 100px;
		background: tomato;
}
/*今日热销结束*/

	.floor{
		height: 200px;
		background: purple;
}
/*楼层开始*/
	.floor{
		
}
/*楼层结束*/